.connectWalletButtonOuter {
	cursor: pointer;
	border-radius: 10px;
	padding: 2px;
	background: #0088CC;

	.connectWalletButtonInner {
		background: #232328;
		font-weight: 700;

		border-radius: 10px;
		padding: 6px 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 14px;
		line-height: 17px;

		@media (min-width: 900px) {
			padding: 11px 22px;
			font-size: 18px;
			line-height: 22px;
		}

		img {
			margin-left: 10px;
			width: 16px;
			height: 16px;

			@media (min-width: 900px) {
				width: initial;
				height: initial;
			}
		}
	}
}
