.button {
	height: 100%;
	max-height: 62px;
	background: #0088CC;
	border-radius: 40px;
	font-weight: 700;
	color: #FFFFFF;
	width: 100%;
	font-size: 16px;
	line-height: 19px;

	@media (min-width: 900px) {
		font-size: 18px;
		line-height: 22px;
	}

	&:disabled {
		opacity: 0.1;
	}
}
