.smallText {
	font-size: 14px;
	line-height: 17px;
}

.title {
	font-weight: 700;
	font-size: 36px;
	line-height: 44px;
	color: #FFFFFF;
	text-align: center;
	margin-bottom: 16px;

	@media (min-width: 900px) {
		font-size: 56px;
		line-height: 68px;
		margin-bottom: 8px;
	}
}

.subtitle {
	color: #FFFFFF;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;

	@media (min-width: 900px) {
		color: #D5D4D8;
		font-weight: 400;
		font-size: 24px;
		line-height: 29px;
	}
}

.smallGreyText {
	font-size: 12px;
	line-height: 15px;
	text-align: center;
	color: #555555;
	white-space: pre;

	@media (min-width: 900px) {
		font-size: 14px;
		line-height: 17px;
	}
}